body {
  background: #c405b5;
}
p {
  color: black;
  width:400px;
  font-size: 14px;
  font-family: monospace;
}

h1 {
  font-weight: bold;
}

img {

  height: 250px;
  margin: 13px;
  border-color: saddlebrown;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}